main.aboutMe {
  background-color: #111;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
#svgLogo path:nth-child(1) {
  stroke-dasharray: 200px;
  stroke-dashoffset: 50px;
}
#svgLogo path:nth-child(2) {
}
#svgLogo path:nth-child(3) {
}
#svgLogo path:nth-child(4) {
}
#svgLogo path:nth-child(5) {
}
#svgLogo path:nth-child(6) {
}
#svgLogo path:nth-child(7) {
}
#svgLogo path:nth-child(8) {
}
