main.aboutMe {
  min-height: 105vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.aboutBox {
  padding: 20px;
}
@keyframes drop {
  0% {
    top: -30px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}
