main.aboutMe {
  background-color: black;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main.aboutMe h1 {
  color: white;
}
main.aboutMe p {
  color: white;
}
main.aboutMe img {
  /* height: 30vmin; */
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 3px solid black;
  margin-bottom: 50px;
}
section.aboutMe {
  min-height: 60vh;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: black;
  padding: 30px;
  padding-top: 40px;
}
.navbar:hover ~ section {
  padding-left: 185px;
  margin-left: 5rem;
}
section {
  transition: 0.5s ease-in-out;
}

section h2 {
  margin-bottom: 20px;
}
@media only screen and (max-width: 600px) {
  section.aboutMe {
    min-height: 60vh;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 30px;
    padding-top: 40px;
  }
  .navbar:hover ~ section {
    padding: 0;
  }
}
