.tech-container {
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  position: relative;
}

.card {
  position: relative;
  max-width: 300px;
  height: 215px;
  margin: 30px 10px;
  padding: 20px 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 5px 12px 11px -1px rgba(0, 0, 0, 0.75);
  transition: 0.3s ease-in-out;
  font-size: 12px;
  /* background-color: pink; */
}
.card:hover {
  height: 420px;
  cursor: pointer;
}
.card .imgBox {
  position: relative;
  display: flex;
  width: 230px;
  height: 220px;
  /* background-color: blue; */
  top: -60px;
  left: 20px;
  z-index: 1;
}
.card .imgBox img {
  max-width: 230px;
  height: 220px;
  margin: 0 auto;

  border-radius: 4px;
}
.card .content {
  /* background-color: red; */
  position: relative;
  margin-top: -140px;
  padding: 10px 15px;
  text-align: center;
  visibility: hidden;
  transition: 0.3s ease-in-out;
}
.card:hover .content {
  visibility: visible;
  opacity: 1;
  margin-top: -40px;
  transition-delay: 0.3s;
}
