@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
  font-family: "Montserrat", sans-serif;
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}
main {
  overflow: hidden;
}
.ludziki {
  position: absolute;
  display: flex;
  width: 70vw;
  justify-content: space-around;
  bottom: 0;
  margin: 0;
}
.ludziki img {
  width: 50px;
  height: 50px;
  animation: move 3s ease-in-out infinite;

  z-index: -1;
}
.ludziki img:nth-child(1) {
  width: 140px;
  height: 140px;
  animation-delay: 2s;
}
.ludziki img:nth-child(2) {
  animation-delay: 0.5s;
  width: 70px;
  height: 70px;
}
.ludziki img:nth-child(3) {
  width: 50px;
  height: 50px;
  animation-delay: 1.5s;
}
.ludziki img:nth-child(4) {
  width: 60px;
  height: 60px;
  animation-delay: 1.7s;
}
.ludziki img:nth-child(5) {
  width: 120px;
  height: 120px;
  animation-delay: 1.3s;
}

@keyframes move {
  0% {
    opacity: 0;
    transform: translateY(0) rotate(0);
  }
  30% {
    opacity: 1;
  }
  100% {
    opacity: 0;

    transform: translateY(-100vh) rotate(360deg);
  }
}
body {
  background: url("./assets/images/stars.jpg") center;

  font-family: "Montserrat";
}
body::-webkit-scrollbar {
  width: 0.2rem;
}
body::-webkit-scrollbar-track {
  background: black;
}
body::-webkit-scrollbar-thumb {
  background: var(--bg-primary);
  border-radius: 30px;
  height: 10px;
}
/* Small screens */
@media only screen and (max-width: 600px) {
  main.aboutMe {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .container {
    margin-top: 20px;
    width: 80%;
    height: 80vh;
    color: white;
    background-color: rgba(35, 35, 46, 0.9);
    display: flex;
    flex-direction: column;
    border-radius: 13px;
    padding: 5px;
  }
  .wrapper {
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;
  }
  .wrapper img {
    width: 170px;
    padding: 10px;
  }
  .wrapper h1 {
    font-size: 13px;
  }

  nav.navbar {
    top: 0;
    width: 100%;
    height: 5rem;
    z-index: 3;
  }

  ul.navbar-nav {
    display: flex;
    flex-direction: row;
  }

  main.aboutMe {
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  main.contactMain,
  main#projectsMain,
  main.technologies {
    margin: 0;
  }

  div.tech-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #projectsMain {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .logo {
    display: none;
  }

  .nav-link {
    justify-content: center;
  }
  .ludziki img:nth-child(5) {
    width: 60px;
    height: 60px;
  }
  #projectsMain {
    flex-direction: column;
  }
  main#projectsMain img {
    width: 300px;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }
  .navbar:hover ~ main {
    padding-left: 185px;
  }

  .navbar:hover .link-text {
    display: inline;
    transition: 3s;
  }

  .navbar:hover .logo svg {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text {
    left: 0px;
  }
  .container {
    width: 1024px;
    height: 500px;
    color: white;
    background-color: rgba(35, 35, 46, 0.9);
    display: flex;
    border-radius: 13px;
  }
  .wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
  .wrapper img {
    margin-bottom: 30px;
    width: 200px;
    filter: drop-shadow(3px 3px 3px black);
    transition: 0.3s ease;
  }
  .wrapper img:hover {
    transform: scale(1.2);
    cursor: pointer;
  }
  .aboutBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 2;
  }
  .aboutBox p {
    font-size: 1.5rem;
  }
  #projectsMain {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}

.dark {
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
}

.light {
  --text-primary: #1f1f1f;
  --text-secondary: #000000;
  --bg-primary: #ffffff;
  --bg-secondary: #e4e4e4;
}

.solar {
  --text-primary: #576e75;
  --text-secondary: #35535c;
  --bg-primary: #fdf6e3;
  --bg-secondary: #f5e5b8;
}

.theme-icon {
  display: none;
}

.dark #darkIcon {
  display: block;
}

.light #lightIcon {
  display: block;
}

.solar #solarIcon {
  display: block;
}
